@import '../colors';

.Register {
	color: $primary-text-color;
	.account-pages {
		h4 {
			color: $secondary-text-color;
		}
		.card {
			background-color: $darkest-background;
			.input-group {
				span {
					border-color: $lightest-background;
					color: $primary-text-color;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					background-color: $lightest-background;
				}
				input {
					background-color: $darker-background;
					border-color: $lightest-background;
					color: $primary-text-color;
				}
				input:focus {
					box-shadow: none;
				}
			}

			button {
				background-color: $secondary-color;
				border: none;
			}
			button:active {
				background-color: $primary-color;
			}
			button:focus {
				box-shadow: 0 0 0 0.15rem rgb(114, 105, 239);
			}
			button:active:focus {
				box-shadow: 0 0 0 0.15rem rgb(114, 105, 239);
			}
		}
		p {
			a {
				text-decoration: none;
				color: $secondary-color;
			}
			a:hover {
				color: $primary-color;
			}
		}
	}
}
