$primary-text-color: #a6b0cf;
$secondary-text-color: #e1e9f1;
$primary-color: #6159cb;
$secondary-color: #7269ef;
$lightest-background: #3e4a56;
$light-background: #36404a;
$darker-background: #303841;
$darkest-background: #262e35;
